@media screen and (min-width: 480px) {    
    main {
        margin: 2rem;
    }
}

@media screen and (min-width: 600px) {
    main {
        margin: 3rem;
    }

    #paleoart iframe {
        height: 300px; 
    }
}

@media screen and (min-width: 768px) {
    nav {
        margin: 0 1.5rem;
    }

    nav a p {
        font-size: 1.5rem;
    }

    article {
        justify-self: center;
        flex-direction: row;
        min-width: 500px;
        height: 150px;
    }

    article img {
        display: block;
        width: 30%;
        object-fit: cover;
        border-radius: 8px 0 0 5px;
    }
}

@media screen and (min-width: 1200px) {
    .grid-container {
        max-width: 1300px;
        grid-template-columns: 1fr 1fr; 
        justify-self: center;
    }

    #paleoart iframe {
        height: 400px; 
    }
}

@media screen and (min-width: 1700px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); 
        min-width: 1500px;
        max-width: 1650px;
        gap: 2rem;
    }

    article {
        height: 160px;
    }

    #paleoart iframe {
        height: 500px; 
    }
}

@media screen and (min-width: 1850px) {
    .grid-container {
        margin: 0;
    }
}