/* https://labos.ovh/docs/exercices/exam-janvier */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 80px;
}

/* Body */
:root {
    --color-menu: #028391;
    --color-menu-item: #007BFF;
    --color-menu-item-hover: #0056b3;
    --color-fond: #F2E9E4;
    --color-card: #fff;
    --color-card-title: #551a8b;
    --color-card-title-hover: #9900ff;
    --color-footer: #373A40;
    --color-buton-contact: #808836;
    --color-buton-contact-hover: #365E32;
}

body {
    font-family: 'Arial', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    background-color: var(--color-fond);
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-menu);
}

header div img {
    width: 75px;
    height: 75px;
    margin: 0.5rem;
}

/* Menu */
nav {
    display: flex;
    align-items: center;
    margin: 0 .5rem 0 1.5rem;
}

nav a {
    margin: 0 .5rem;
    background-color: var(--color-menu-item);
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--color-menu-item-hover);

}

nav a p {
    font-size: 1.2rem;
    color: var(--color-card);
    padding: 0.5rem 1rem;
}

/* Main */
main {
    position: relative;
    margin: 1rem;
}

main h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

